<md-card>
  <md-card-header>
    <img md-card-avatar src="{{person.image_url}}" alt="Photo of of{{person.name}}" class="card-image">
    <md-card-title>{{person.name}}</md-card-title>
    <md-card-subtitle>Birth year: {{person.birth_year}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{person.image_url}}" alt="Photo of of{{person.name}}">
  <md-card-content>
    <p>Height: {{person.height}}</p>
    <p>Mass: {{person.mass}}</p>
    <p>Hair color: {{person.hair_color}}</p>
    <p>Gender: {{person.gender}}</p>
  </md-card-content>
</md-card>
